---
---
@charset "utf-8";

// Presets
$base-font-family:              Helvetica, sans-serif;
$base-font-size:                18px;
$small-font-size: $base-font-size * 0.875;
$base-line-height:              1.5em;

$horizontal-spacing-unit:       50px;
$vertical-spacing-unit:         20px;
$nav-height:                    36px;

$spacing-unit:     30px;


$brand-color:      #2a7ae2;


$on-palm:          600px;
$on-laptop:        800px;
$on-desktop:       1000px;

// Device size media queries
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials
@import "base", "layout", "syntax-highlighting";

:root {
    --background-primary:   #fdfdfd;
    --background-secondary: #e6e6e6;
    --background-highlight: #d9d9d9;
    --background-border:    #cccccc;
    --background-accent:    #3070B6;
    --background-text:      #666666;
    --background-code:      #14263f;
}

// Color schemes
html {
    color-scheme: light;
    --page-color: #fdfdfd;
    --ink-color: #666;
    --highlight-color: #3070B6;
}

.site-header, .site-footer {
    border-color: #e6e6e6;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
        --page-color: #1D2126;
        --ink-color: #acbac7;
        --highlight-color: #FF3636;
    }

    .site-header, .site-footer {
        border-color: #2d333b;
    }
}

html {
    background-color: var(--page-color);
    accent-color: var(--highlight-color);
}

body, .site-header, .site-footer {
    background-color: var(--page-color);
    color: var(--ink-color);
}

a {
    color: var(--ink-color);
    text-decoration: none;
    font-weight: 200;
    &:hover {
        color: var(--highlight-color);
    }
}

// Header
.site-title {
    color: var(--highlight-color);
}

.pagination {
    color: #2d333b;
    a {
        color: #434c56;
        &:hover {
            color: var(--highlight-color);
        }
    }
}

.post-list-title {
    color: var(--highlight-color)
}

.post-description {
    color: var(--highlight-color);
}

.post-meta {
    color: #434c56;
}

.site-header {
    border: 1px 0 0;
}

// Footer
.site-footer {
    color: #2d333b;
    border: 1px 0 0;
    a {
        color: #434c56;
        &:hover {
            color: var(--highlight-color);
        }
    }
}

// Code highlighting
.highlight {
    border: 1px;
    border-radius: 20px;
    background-color: #14263f;
    @media (prefers-color-scheme: dark) {
        background-color: #101010;
    }
}