---
---
@charset "utf-8";

@import "theme";

:root {

    // Fonts
    --font-family: Helvetica, sans-serif;
    --font-weight: 100;
    --font-size: 18px;
    --small-font-size: var(--font-size) * 0.875;
    --line-height: 1.5em;

    // Spacing units
    --horizontal-spacing-unit: 50px;
    --vertical-spacing-unit: 20px;
    --spacing-unit: 30px;

    // Navigation
    --navigation-height: 36px;

    // Devices
    --palm: 600px;
    --laptop: 800px;
    --desktop: 1000px;
}

// Device size media queries
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials
@import "base", 
        "layout", 
        "syntax";

html {
    accent-color: var(--highlight-color);
    background-color: var(--bg-color);
    color: var(--text-primary-color);
}

a {
    color: var(--text-link-color);
    text-decoration: none;
    font-weight: 200;
    &:hover {
        color: var(--text-link-hover-color);
    }
}

// Header and footer
.site-title {
    color: var(--header-title);
}

.site-header {
    border-bottom: 1px solid var(--color-border);
    background-color: var(--header-bg);
}

.site-footer {
    color: var(--footer-text);
    border-top: 1px solid var(--color-border);
    background-color: var(--footer-bg);
    a {
        color: var(--text-link-color);
        &:hover {
            color: var(--text-link-hover-color);
        }
    }
}

// Post
.post-list-title {
    color: var(--post-tilte)
}

.post-meta {
    color: var(--post-meta);
}

.post-description {
    color: var(--post-description);
}

// Pagination
.pagination {
    color: var(--text-paginator);
    a {
        color: var(--text-link-color);
        &:hover {
            color: var(--text-link-hover-color);
        }
    }
}

// Code highlighting
.highlight {
    border: 1px;
    border-radius: 20px;
    background-color: var(--code-bg-color);
}
