---
layout: default
---
<ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2><a class="post-list-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <p class="post-meta">{{ post.date|date_to_string }}</p>
        <p>{{ post.description }}</p>
        <br/>
      </li>
    {% endfor %}
</ul>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      previous
    </a>
  {% else %}
    <span class="paginator">previous</span>
  {% endif %}
  <span> | </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">next</a>
  {% else %}
    <span class="paginator">next</span>
  {% endif %}
</div>
{% endif %}