<header class="site-header">

<div class="wrapper">
	<nav class="site-nav">
		<div class="trigger">
			<!-- {{ site.title }} instead of blog -->
			<a class="page-link" href="{{ site.baseurl }}/">blog</a>
			{% for page in site.pages %}
				{% if page.title %}
					<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
				{% endif %}
			{% endfor %}
			<a class="page-link" href="https://github.com/blueantcorp" target="_blank">github</a>
			<a href="#" data-toggle="tooltip" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
			<a href="#" data-toggle="tooltip" title="StackOverflow"><i class="fa fa-stack-overflow"></i></a>
			<a href="#" data-toggle="tooltip" title="GitHub"><i class="fa fa-github"></i></i></a>
		</div>
	</nav>
</div>
</header>
